#---
#apiVersion: v1
#kind: Secret
#metadata:
#  name: mysql-secrets
#type: Opaque
#data:
#  mysql-password: b3R1c3Bhc3N3b3Jk
---
apiVersion: otus.homework/v1
kind: MySQL
metadata:
  name: mysql-instance
spec:
  image: mysql:5.7
  database: otus-database
  password: otuspassword  # Так делать не нужно, следует использовать secret
#    valueFrom:
#      secretKeyRef:
#        name: mysql-secrets
#        key: mysql-password
  storage_size: 1Gi
#usless_data: "useless info"
